<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1917},{122,113}}</string>
                <key>offset</key>
                <string>{4,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,598},{122,113}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,374},{150,107}}</string>
                <key>offset</key>
                <string>{5,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,585},{150,107}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,327},{160,131}}</string>
                <key>offset</key>
                <string>{6,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,580},{160,131}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,668},{166,137}}</string>
                <key>offset</key>
                <string>{6,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,578},{166,137}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,489},{168,151}}</string>
                <key>offset</key>
                <string>{5,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,565},{168,151}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,490},{176,153}}</string>
                <key>offset</key>
                <string>{10,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,565},{176,153}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1677},{116,141}}</string>
                <key>offset</key>
                <string>{7,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,577},{116,141}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,490},{218,317}}</string>
                <key>offset</key>
                <string>{-21,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,511},{218,317}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{218,493}}</string>
                <key>offset</key>
                <string>{-21,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,361},{218,493}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,657},{218,591}}</string>
                <key>offset</key>
                <string>{-22,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,271},{218,591}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{218,573}}</string>
                <key>offset</key>
                <string>{-22,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,283},{218,573}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,577},{218,571}}</string>
                <key>offset</key>
                <string>{-21,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,283},{218,571}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,653}}</string>
                <key>offset</key>
                <string>{-23,185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,200},{206,653}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{206,609}}</string>
                <key>offset</key>
                <string>{-23,201}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,206},{206,609}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1250},{198,573}}</string>
                <key>offset</key>
                <string>{-23,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,264},{198,573}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{120,647}}</string>
                <key>offset</key>
                <string>{-19,222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,166},{120,647}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1917},{118,573}}</string>
                <key>offset</key>
                <string>{-20,201}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,224},{118,573}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>die/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1677},{154,231}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,558},{154,231}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>die/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,809},{134,297}}</string>
                <key>offset</key>
                <string>{5,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,490},{134,297}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>die/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,929},{138,311}}</string>
                <key>offset</key>
                <string>{6,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,475},{138,311}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>die/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,350},{138,297}}</string>
                <key>offset</key>
                <string>{3,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,489},{138,297}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>die/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,809},{134,285}}</string>
                <key>offset</key>
                <string>{0,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,500},{134,285}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>die/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1108},{136,295}}</string>
                <key>offset</key>
                <string>{1,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,489},{136,295}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>die/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,929},{150,309}}</string>
                <key>offset</key>
                <string>{0,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,474},{150,309}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>die/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,497},{152,325}}</string>
                <key>offset</key>
                <string>{0,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,456},{152,325}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>die/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{152,323}}</string>
                <key>offset</key>
                <string>{0,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,457},{152,323}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>knifelight/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1150},{92,93}}</string>
                <key>offset</key>
                <string>{-93,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,607},{92,93}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>knifelight/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,350},{144,145}}</string>
                <key>offset</key>
                <string>{-91,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,580},{144,145}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>knifelight/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1096},{212,211}}</string>
                <key>offset</key>
                <string>{-93,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,549},{212,211}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>knifelight/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,929},{306,307}}</string>
                <key>offset</key>
                <string>{-93,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,501},{306,307}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>smoke/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1405},{280,247}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,555},{280,247}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>smoke/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1677},{354,349}}</string>
                <key>offset</key>
                <string>{-13,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,447},{354,349}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>smoke/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1668},{378,373}}</string>
                <key>offset</key>
                <string>{-18,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,419},{378,373}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>smoke/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,497},{430,397}}</string>
                <key>offset</key>
                <string>{-14,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,392},{430,397}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>smoke/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1245},{430,409}}</string>
                <key>offset</key>
                <string>{-20,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,376},{430,409}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>smoke/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1240},{426,399}}</string>
                <key>offset</key>
                <string>{-20,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,368},{426,399}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>smoke/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,2},{346,329}}</string>
                <key>offset</key>
                <string>{-28,181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,366},{346,329}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>smoke/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{370,273}}</string>
                <key>offset</key>
                <string>{-20,186}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,389},{370,273}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2c3332e2841600284fb166c377f0066:1/1$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
