<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack00/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,891},{232,135}}</string>
                <key>offset</key>
                <string>{-239,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,649},{232,135}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack00/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,803},{288,171}}</string>
                <key>offset</key>
                <string>{-123,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,612},{288,171}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack00/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1127},{284,163}}</string>
                <key>offset</key>
                <string>{-101,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,621},{284,163}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack00/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1706},{186,131}}</string>
                <key>offset</key>
                <string>{-151,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,653},{186,131}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack01/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1768},{124,129}}</string>
                <key>offset</key>
                <string>{-181,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,655},{124,129}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack01/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1768},{124,125}}</string>
                <key>offset</key>
                <string>{-181,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,659},{124,125}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack01/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1892},{214,141}}</string>
                <key>offset</key>
                <string>{-179,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,644},{214,141}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack01/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1894},{206,143}}</string>
                <key>offset</key>
                <string>{-230,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,642},{206,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack01/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1894},{214,143}}</string>
                <key>offset</key>
                <string>{-234,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,642},{214,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack01/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1894},{214,143}}</string>
                <key>offset</key>
                <string>{-234,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,642},{214,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack10/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,1549},{132,131}}</string>
                <key>offset</key>
                <string>{-188,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,653},{132,131}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack10/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1549},{134,133}}</string>
                <key>offset</key>
                <string>{-177,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,651},{134,133}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack10/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,970},{238,223}}</string>
                <key>offset</key>
                <string>{-125,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,561},{238,223}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack10/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1292},{244,265}}</string>
                <key>offset</key>
                <string>{-193,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,520},{244,265}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack11/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,736},{232,153}}</string>
                <key>offset</key>
                <string>{-243,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,632},{232,153}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack11/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1318},{222,143}}</string>
                <key>offset</key>
                <string>{-238,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,642},{222,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack11/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1894},{214,143}}</string>
                <key>offset</key>
                <string>{-234,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,642},{214,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack20/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1683},{196,141}}</string>
                <key>offset</key>
                <string>{-230,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,644},{196,141}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack20/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1881},{172,133}}</string>
                <key>offset</key>
                <string>{-219,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,648},{172,133}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack20/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,643},{152,145}}</string>
                <key>offset</key>
                <string>{-189,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,636},{152,145}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack20/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,489},{270,155}}</string>
                <key>offset</key>
                <string>{-106,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,629},{270,155}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack21/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1892},{214,141}}</string>
                <key>offset</key>
                <string>{-179,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,644},{214,141}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack21/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1894},{206,143}}</string>
                <key>offset</key>
                <string>{-230,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,642},{206,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack21/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1894},{214,143}}</string>
                <key>offset</key>
                <string>{-234,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,642},{214,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>attack21/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1188},{222,143}}</string>
                <key>offset</key>
                <string>{-238,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,642},{222,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack00/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1188},{196,125}}</string>
                <key>offset</key>
                <string>{-224,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,659},{196,125}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack00/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1768},{200,123}}</string>
                <key>offset</key>
                <string>{-226,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,661},{200,123}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack00/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1512},{192,131}}</string>
                <key>offset</key>
                <string>{-223,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,653},{192,131}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack01/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,1684},{176,117}}</string>
                <key>offset</key>
                <string>{-194,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,667},{176,117}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack01/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1684},{194,173}}</string>
                <key>offset</key>
                <string>{-62,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,608},{194,173}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack01/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1169},{158,261}}</string>
                <key>offset</key>
                <string>{-71,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,488},{158,261}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack01/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{292,339}}</string>
                <key>offset</key>
                <string>{-144,169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,373},{292,339}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack01/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1185},{294,315}}</string>
                <key>offset</key>
                <string>{-161,182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,372},{294,315}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack01/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1894},{152,215}}</string>
                <key>offset</key>
                <string>{-80,171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,433},{152,215}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack01/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,345},{142,275}}</string>
                <key>offset</key>
                <string>{-76,225}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,349},{142,275}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack01/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{280,341}}</string>
                <key>offset</key>
                <string>{-155,288}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,253},{280,341}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack01/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,736},{258,351}}</string>
                <key>offset</key>
                <string>{-163,278}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,258},{258,351}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack02/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,1210},{180,239}}</string>
                <key>offset</key>
                <string>{-158,224}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,368},{180,239}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack02/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1595},{164,197}}</string>
                <key>offset</key>
                <string>{-98,315}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,298},{164,197}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack02/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,444},{70,265}}</string>
                <key>offset</key>
                <string>{-144,357}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,222},{70,265}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack02/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1689},{178,135}}</string>
                <key>offset</key>
                <string>{-198,313}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,331},{178,135}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack02/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1386},{124,129}}</string>
                <key>offset</key>
                <string>{-186,337}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,310},{124,129}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack02/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1880},{122,129}}</string>
                <key>offset</key>
                <string>{-187,341}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,306},{122,129}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack02/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1880},{122,131}}</string>
                <key>offset</key>
                <string>{-188,346}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,300},{122,131}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack03/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,996},{190,349}}</string>
                <key>offset</key>
                <string>{-161,259}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,278},{190,349}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack03/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{246,501}}</string>
                <key>offset</key>
                <string>{-119,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,285},{246,501}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack03/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,684},{284,513}}</string>
                <key>offset</key>
                <string>{-101,180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,275},{284,513}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack03/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,444},{290,513}}</string>
                <key>offset</key>
                <string>{-97,180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,275},{290,513}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack03/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,368},{314,513}}</string>
                <key>offset</key>
                <string>{-86,180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,275},{314,513}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack03/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,2},{364,513}}</string>
                <key>offset</key>
                <string>{-61,180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,275},{364,513}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack03/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{440,595}}</string>
                <key>offset</key>
                <string>{-23,225}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,189},{440,595}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack03/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{650,639}}</string>
                <key>offset</key>
                <string>{59,246}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,146},{650,639}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack03/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1447},{222,143}}</string>
                <key>offset</key>
                <string>{-238,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,642},{222,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,891},{232,135}}</string>
                <key>offset</key>
                <string>{-239,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,649},{232,135}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,1753},{188,137}}</string>
                <key>offset</key>
                <string>{-221,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,647},{188,137}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,1133},{286,155}}</string>
                <key>offset</key>
                <string>{241,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,629},{286,155}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,646},{266,155}}</string>
                <key>offset</key>
                <string>{251,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{502,629},{266,155}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1392},{246,155}}</string>
                <key>offset</key>
                <string>{261,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{522,629},{246,155}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1030},{160,137}}</string>
                <key>offset</key>
                <string>{207,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{511,646},{160,137}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1753},{188,137}}</string>
                <key>offset</key>
                <string>{221,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{511,647},{188,137}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1826},{214,143}}</string>
                <key>offset</key>
                <string>{241,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{518,642},{214,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,891},{160,137}}</string>
                <key>offset</key>
                <string>{-210,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,646},{160,137}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1432},{180,161}}</string>
                <key>offset</key>
                <string>{-221,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,622},{180,161}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,489},{270,155}}</string>
                <key>offset</key>
                <string>{-106,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,629},{270,155}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,1290},{264,155}}</string>
                <key>offset</key>
                <string>{-109,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,629},{264,155}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1892},{214,141}}</string>
                <key>offset</key>
                <string>{-179,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,644},{214,141}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1894},{206,143}}</string>
                <key>offset</key>
                <string>{-230,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,642},{206,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,976},{286,155}}</string>
                <key>offset</key>
                <string>{67,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,629},{286,155}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>bigattack10/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,970},{286,155}}</string>
                <key>offset</key>
                <string>{183,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,629},{286,155}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1447},{222,143}}</string>
                <key>offset</key>
                <string>{-238,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,642},{222,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1173},{222,143}}</string>
                <key>offset</key>
                <string>{-238,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,642},{222,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1826},{218,143}}</string>
                <key>offset</key>
                <string>{-236,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,642},{218,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1894},{218,143}}</string>
                <key>offset</key>
                <string>{-236,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,642},{218,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1623},{220,143}}</string>
                <key>offset</key>
                <string>{-237,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,642},{220,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1463},{220,143}}</string>
                <key>offset</key>
                <string>{-237,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,642},{220,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1028},{222,143}}</string>
                <key>offset</key>
                <string>{-238,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,642},{222,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1447},{222,143}}</string>
                <key>offset</key>
                <string>{-238,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,642},{222,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1021},{222,143}}</string>
                <key>offset</key>
                <string>{-238,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,642},{222,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,797},{222,143}}</string>
                <key>offset</key>
                <string>{-238,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,642},{222,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1478},{220,143}}</string>
                <key>offset</key>
                <string>{-237,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,642},{220,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1467},{220,143}}</string>
                <key>offset</key>
                <string>{-237,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,642},{220,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1333},{220,143}}</string>
                <key>offset</key>
                <string>{-237,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,642},{220,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1245},{220,143}}</string>
                <key>offset</key>
                <string>{-237,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,642},{220,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1608},{218,143}}</string>
                <key>offset</key>
                <string>{-236,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,642},{218,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
            <key>idle/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,1538},{218,143}}</string>
                <key>offset</key>
                <string>{-236,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,642},{218,143}}</string>
                <key>sourceSize</key>
                <string>{768,1423}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bc8a2d8d579f72e3bfe30e17e9416fe:1/1$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
