<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>i_51</key>
      <dict>
        <key>frame</key>
        <string>{{0,331},{96,99}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,99}}</string>
        <key>sourceSize</key>
        <string>{96,99}</string>
      </dict>
      <key>i_50</key>
      <dict>
        <key>frame</key>
        <string>{{526,342},{98,84}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,84}}</string>
        <key>sourceSize</key>
        <string>{98,84}</string>
      </dict>
      <key>i_49</key>
      <dict>
        <key>frame</key>
        <string>{{613,256},{155,16}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,16}}</string>
        <key>sourceSize</key>
        <string>{155,16}</string>
      </dict>
      <key>i_48</key>
      <dict>
        <key>frame</key>
        <string>{{526,242},{85,98}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,98}}</string>
        <key>sourceSize</key>
        <string>{85,98}</string>
      </dict>
      <key>i_47</key>
      <dict>
        <key>frame</key>
        <string>{{626,238},{126,16}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,16}}</string>
        <key>sourceSize</key>
        <string>{126,16}</string>
      </dict>
      <key>i_46</key>
      <dict>
        <key>frame</key>
        <string>{{820,213},{79,76}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,76}}</string>
        <key>sourceSize</key>
        <string>{79,76}</string>
      </dict>
      <key>i_45</key>
      <dict>
        <key>frame</key>
        <string>{{820,148},{69,63}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,63}}</string>
        <key>sourceSize</key>
        <string>{69,63}</string>
      </dict>
      <key>i_44</key>
      <dict>
        <key>frame</key>
        <string>{{220,329},{45,45}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,45}}</string>
        <key>sourceSize</key>
        <string>{45,45}</string>
      </dict>
      <key>i_43</key>
      <dict>
        <key>frame</key>
        <string>{{102,329},{116,29}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,29}}</string>
        <key>sourceSize</key>
        <string>{116,29}</string>
      </dict>
      <key>i_42</key>
      <dict>
        <key>frame</key>
        <string>{{277,264},{106,97}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,97}}</string>
        <key>sourceSize</key>
        <string>{106,97}</string>
      </dict>
      <key>i_41</key>
      <dict>
        <key>frame</key>
        <string>{{421,246},{103,72}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,72}}</string>
        <key>sourceSize</key>
        <string>{103,72}</string>
      </dict>
      <key>i_40</key>
      <dict>
        <key>frame</key>
        <string>{{421,190},{96,54}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,54}}</string>
        <key>sourceSize</key>
        <string>{96,54}</string>
      </dict>
      <key>i_39</key>
      <dict>
        <key>frame</key>
        <string>{{626,183},{95,53}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,53}}</string>
        <key>sourceSize</key>
        <string>{95,53}</string>
      </dict>
      <key>i_38</key>
      <dict>
        <key>frame</key>
        <string>{{532,183},{92,57}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,57}}</string>
        <key>sourceSize</key>
        <string>{92,57}</string>
      </dict>
      <key>i_37</key>
      <dict>
        <key>frame</key>
        <string>{{907,193},{90,54}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,54}}</string>
        <key>sourceSize</key>
        <string>{90,54}</string>
      </dict>
      <key>i_36</key>
      <dict>
        <key>frame</key>
        <string>{{907,116},{79,75}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,75}}</string>
        <key>sourceSize</key>
        <string>{79,75}</string>
      </dict>
      <key>i_35</key>
      <dict>
        <key>frame</key>
        <string>{{725,142},{93,56}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,56}}</string>
        <key>sourceSize</key>
        <string>{93,56}</string>
      </dict>
      <key>i_34</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{36,36}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,36}}</string>
        <key>sourceSize</key>
        <string>{36,36}</string>
      </dict>
      <key>i_33</key>
      <dict>
        <key>frame</key>
        <string>{{653,92},{70,84}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,84}}</string>
        <key>sourceSize</key>
        <string>{70,84}</string>
      </dict>
      <key>i_32</key>
      <dict>
        <key>frame</key>
        <string>{{835,59},{70,87}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,87}}</string>
        <key>sourceSize</key>
        <string>{70,87}</string>
      </dict>
      <key>i_31</key>
      <dict>
        <key>frame</key>
        <string>{{431,137},{99,51}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,51}}</string>
        <key>sourceSize</key>
        <string>{99,51}</string>
      </dict>
      <key>i_30</key>
      <dict>
        <key>frame</key>
        <string>{{554,129},{97,52}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,52}}</string>
        <key>sourceSize</key>
        <string>{97,52}</string>
      </dict>
      <key>i_29</key>
      <dict>
        <key>frame</key>
        <string>{{739,85},{94,55}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,55}}</string>
        <key>sourceSize</key>
        <string>{94,55}</string>
      </dict>
      <key>i_28</key>
      <dict>
        <key>frame</key>
        <string>{{911,55},{89,59}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,59}}</string>
        <key>sourceSize</key>
        <string>{89,59}</string>
      </dict>
      <key>i_27</key>
      <dict>
        <key>frame</key>
        <string>{{911,0},{94,53}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,53}}</string>
        <key>sourceSize</key>
        <string>{94,53}</string>
      </dict>
      <key>i_26</key>
      <dict>
        <key>frame</key>
        <string>{{817,0},{92,57}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,57}}</string>
        <key>sourceSize</key>
        <string>{92,57}</string>
      </dict>
      <key>i_25</key>
      <dict>
        <key>frame</key>
        <string>{{739,0},{76,83}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,83}}</string>
        <key>sourceSize</key>
        <string>{76,83}</string>
      </dict>
      <key>i_24</key>
      <dict>
        <key>frame</key>
        <string>{{268,148},{71,93}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,93}}</string>
        <key>sourceSize</key>
        <string>{71,93}</string>
      </dict>
      <key>i_23</key>
      <dict>
        <key>frame</key>
        <string>{{0,255},{100,74}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,74}}</string>
        <key>sourceSize</key>
        <string>{100,74}</string>
      </dict>
      <key>i_22</key>
      <dict>
        <key>frame</key>
        <string>{{170,250},{105,77}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,77}}</string>
        <key>sourceSize</key>
        <string>{105,77}</string>
      </dict>
      <key>i_21</key>
      <dict>
        <key>frame</key>
        <string>{{342,160},{77,102}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,102}}</string>
        <key>sourceSize</key>
        <string>{77,102}</string>
      </dict>
      <key>i_20</key>
      <dict>
        <key>frame</key>
        <string>{{342,70},{87,88}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,88}}</string>
        <key>sourceSize</key>
        <string>{87,88}</string>
      </dict>
      <key>i_19</key>
      <dict>
        <key>frame</key>
        <string>{{554,57},{93,70}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,70}}</string>
        <key>sourceSize</key>
        <string>{93,70}</string>
      </dict>
      <key>i_18</key>
      <dict>
        <key>frame</key>
        <string>{{462,57},{90,78}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,78}}</string>
        <key>sourceSize</key>
        <string>{90,78}</string>
      </dict>
      <key>i_17</key>
      <dict>
        <key>frame</key>
        <string>{{653,0},{84,90}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,90}}</string>
        <key>sourceSize</key>
        <string>{84,90}</string>
      </dict>
      <key>i_16</key>
      <dict>
        <key>frame</key>
        <string>{{557,0},{94,55}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,55}}</string>
        <key>sourceSize</key>
        <string>{94,55}</string>
      </dict>
      <key>i_15</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{93,55}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,55}}</string>
        <key>sourceSize</key>
        <string>{93,55}</string>
      </dict>
      <key>i_14</key>
      <dict>
        <key>frame</key>
        <string>{{75,197},{93,56}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,56}}</string>
        <key>sourceSize</key>
        <string>{93,56}</string>
      </dict>
      <key>i_13</key>
      <dict>
        <key>frame</key>
        <string>{{75,138},{90,57}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,57}}</string>
        <key>sourceSize</key>
        <string>{90,57}</string>
      </dict>
      <key>i_12</key>
      <dict>
        <key>frame</key>
        <string>{{175,194},{91,54}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,54}}</string>
        <key>sourceSize</key>
        <string>{91,54}</string>
      </dict>
      <key>i_11</key>
      <dict>
        <key>frame</key>
        <string>{{175,117},{79,75}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,75}}</string>
        <key>sourceSize</key>
        <string>{79,75}</string>
      </dict>
      <key>i_10</key>
      <dict>
        <key>frame</key>
        <string>{{274,60},{66,86}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,86}}</string>
        <key>sourceSize</key>
        <string>{66,86}</string>
      </dict>
      <key>i_9</key>
      <dict>
        <key>frame</key>
        <string>{{371,0},{89,68}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,68}}</string>
        <key>sourceSize</key>
        <string>{89,68}</string>
      </dict>
      <key>i_8</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{73,85}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,85}}</string>
        <key>sourceSize</key>
        <string>{73,85}</string>
      </dict>
      <key>i_7</key>
      <dict>
        <key>frame</key>
        <string>{{94,60},{79,76}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,76}}</string>
        <key>sourceSize</key>
        <string>{79,76}</string>
      </dict>
      <key>i_6</key>
      <dict>
        <key>frame</key>
        <string>{{0,61},{92,54}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,54}}</string>
        <key>sourceSize</key>
        <string>{92,54}</string>
      </dict>
      <key>i_5</key>
      <dict>
        <key>frame</key>
        <string>{{183,58},{89,57}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,57}}</string>
        <key>sourceSize</key>
        <string>{89,57}</string>
      </dict>
      <key>i_4</key>
      <dict>
        <key>frame</key>
        <string>{{278,0},{91,58}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,58}}</string>
        <key>sourceSize</key>
        <string>{91,58}</string>
      </dict>
      <key>i_3</key>
      <dict>
        <key>frame</key>
        <string>{{183,0},{93,56}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,56}}</string>
        <key>sourceSize</key>
        <string>{93,56}</string>
      </dict>
      <key>i_2</key>
      <dict>
        <key>frame</key>
        <string>{{91,0},{90,58}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,58}}</string>
        <key>sourceSize</key>
        <string>{90,58}</string>
      </dict>
      <key>i_1</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{89,59}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,59}}</string>
        <key>sourceSize</key>
        <string>{89,59}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>0.png</string>
      <key>size</key>
      <string>{1005,430}</string>
      <key>textureFileName</key>
      <string>0.png</string>
    </dict>
  </dict>
</plist>