<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>i_14</key>
      <dict>
        <key>frame</key>
        <string>{{62,41},{47,48}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>i_13</key>
      <dict>
        <key>frame</key>
        <string>{{0,88},{18,33}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,33}}</string>
        <key>sourceSize</key>
        <string>{18,33}</string>
      </dict>
      <key>i_12</key>
      <dict>
        <key>frame</key>
        <string>{{121,37},{42,41}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,41}}</string>
        <key>sourceSize</key>
        <string>{42,41}</string>
      </dict>
      <key>i_11</key>
      <dict>
        <key>frame</key>
        <string>{{62,30},{16,9}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,9}}</string>
        <key>sourceSize</key>
        <string>{16,9}</string>
      </dict>
      <key>i_10</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{49,67}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,67}}</string>
        <key>sourceSize</key>
        <string>{49,67}</string>
      </dict>
      <key>i_9</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{36,35}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,35}}</string>
        <key>sourceSize</key>
        <string>{36,35}</string>
      </dict>
      <key>i_8</key>
      <dict>
        <key>frame</key>
        <string>{{121,0},{33,32}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>i_7</key>
      <dict>
        <key>frame</key>
        <string>{{0,56},{20,30}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,30}}</string>
        <key>sourceSize</key>
        <string>{20,30}</string>
      </dict>
      <key>i_6</key>
      <dict>
        <key>frame</key>
        <string>{{22,52},{38,37}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,37}}</string>
        <key>sourceSize</key>
        <string>{38,37}</string>
      </dict>
      <key>i_5</key>
      <dict>
        <key>frame</key>
        <string>{{22,30},{38,20}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,20}}</string>
        <key>sourceSize</key>
        <string>{38,20}</string>
      </dict>
      <key>i_4</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{38,39}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,39}}</string>
        <key>sourceSize</key>
        <string>{38,39}</string>
      </dict>
      <key>i_3</key>
      <dict>
        <key>frame</key>
        <string>{{0,26},{20,28}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,28}}</string>
        <key>sourceSize</key>
        <string>{20,28}</string>
      </dict>
      <key>i_2</key>
      <dict>
        <key>frame</key>
        <string>{{43,0},{36,28}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,28}}</string>
        <key>sourceSize</key>
        <string>{36,28}</string>
      </dict>
      <key>i_1</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{41,24}}</string>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,24}}</string>
        <key>sourceSize</key>
        <string>{41,24}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>0.png</string>
      <key>size</key>
      <string>{243,121}</string>
      <key>textureFileName</key>
      <string>0.png</string>
    </dict>
  </dict>
</plist>